body {
  margin: 0;
}
.footer {
  background-color: #070422;
  padding: 30px 60px;
}

.text {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.devWith {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.akloom {
  display: flex;
  align-items: center;
  gap: 10px;
}

.svg {
  margin-bottom: 5px;
}
